<div class="box"> 
  <%= image_tag 'shoes-example.jpeg', alt: 'Example image', class: 'box-image' %>
  <h3><%= listing.title %>: $<%= listing.listing_price %>0</h3>
  <h4><%= listing.status.upcase %></h4>
</div>
