<!DOCTYPE html>
<body>
<!-- NEED TO ADD CODE HERE TO INSERT IMAGE/TEXT OF THE LOGO (Need to ask ethan what he wants) -->
  <form action="#" method="POST">     <!-- This is where we want the -->

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>
    
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <a href="#">Forgot your password?</a><br><br>

    <input type="submit" value="Login">
  </form>
</body>
</html>
