@font-face {
    font-family: 'Sofia Pro Light';
    src: url('/assets/SofiaProLight.ttf')
}

@font-face {
    font-family: 'Sofia Pro Bold';
    src: url('/assets/SofiaProBold.ttf')
}

.flash {
  position: absolute;
  top: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ffd9ea;
  font-family: Sofia Pro Light;
  font-size: 12pt;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.2);
}

.close {
  text-decoration: none;
  color: #ffd9ea;
  text-shadow: none;
  font-family: Sofia Pro Bold;
  font-size: 18pt;
}

.close:hover {
  color: #e6006c; 
  transition: color 0.3s;
}
