body {
  background: #f4f4f4;
}

.dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.dropdown-item:hover {
  color: #000;
}
